@model BookStore.Models.Book

@{
	ViewData["Title"] = "Edit";
}

<form method="post" enctype="multipart/form-data">
	<input asp-for="Id" hidden>
	<div class="border p-3">
		<div class="form-group row">
			<h1 class="text-info pl-3">Редагування книги</h1>
		</div>
		<br>
		<div class="row">
			<div class="col-8">
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="Image"></label>
					</div>
					<div class="col-8">
						<input type="file" name="files" asp-for="Image" id="uploadBox" multiple class="form-control">
					</div>
				</div>
				<br>
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="Title"></label>
					</div>
					<div class="col-8">
						<input asp-for="Title" class="form-control">
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>
				</div>
				<br>
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="Author"></label>
					</div>
					<div class="col-8">
						<input asp-for="Author" class="form-control">
						<span asp-validation-for="Author" class="text-danger"></span>
					</div>
				</div>
				<br>
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="Description"></label>
					</div>
					<div class="col-8">
						<textarea asp-for="Description" class="form-control summernote"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
				</div>
				<br>
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="Year"></label>
					</div>
					<div class="col-8">
						<input asp-for="Year" class="form-control">
						<span asp-validation-for="Year" class="text-danger"></span>
					</div>
				</div>
				<br>
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="CategoryId"></label>
					</div>
					<div class="col-8">
						<select asp-for="CategoryId" asp-items="@ViewBag.CategoryDropDown" class="form-control">
							<option disabled selected>--Оберіть категорію--</option>
						</select>
						<span asp-validation-for="CategoryId" class="text-danger"></span>
					</div>
				</div>
				<br>
				<div class="form-group row">
					<div class="col-8 offset-4 row">
						<div class="col">
							<input onclick="return validateInput()" type="submit" class="btn btn-info w-100" value="Оновити">
						</div>
						<div class="col">
							<a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Назад</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				@* Keep this empty *@
			</div>
		</div>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	<script>
		$(document).ready(function () {
			$('.summernote').summernote({
				height: 150
			});
		});
		function validateInput() {
			if (document.getElementById("uploadBox").value == "") {
				Swal.fire(
					'Помилка!',
					'Будь ласка завантажте картинку!',
					'error'
				)
				return false;
			}
			return true;
		}
	</script>
}


